$pureWhite: #ffffff;
$pureBlack: #000000;
$mainBg: #111827;
$headingColor: #F9FAFB;
$linkColor: #D1D5DB;
$linkHover: #F9FAFB;
$linkActive: #D1D5DB;
$textColor: #D1D5DB;
$secondBg: #1F2937;
$iconActiveColor: #374151;
$btnText: #111827;
$btnHover: #E5E7EB;
$btnActive:#F3F4F6;
$sectionBg: #030712;
$borderColor: #1F2937;
$imageshadowColor: #374151;
$badgeColor: #374151;
$badgeFontColor: #D1D5DB;
$dateColor:#E5E7EB;
$fisTitleColor:#F9FAFB;
$fisInfoColor:#D1D5DB;
$leftsideBgColor:#374151;
$rightsideBgColor:#1F2937;

