@use "../variables" as *;
@import "../mixins";

.section4{
    .container{
        .row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 48px;
            .sectionBadge4{
                @include badge();
                display: flex;
                justify-content: center;
            }
            .card{
                width: 896px;
                display: grid;
                grid-template-columns:  200px 1fr 200px;
                padding: 32px;
                background-color: $secondBg;
                border-radius: 12px;
                gap: 48px;
                .exp-logo{
                    width: 102px;
                    height: 28px;
                }
                .exp-content{
                    h5{
                    color: $headingColor;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    }
                    .exp-list{
                        display: flex;
                        flex-direction: column;
                        gap: 4px; 
                         
                       
                        .exp-item {
                        color: $textColor;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        list-style-position: inside;
                        list-style: disc;
                       
                                            
                    }
                    }
                }
                .exp-date{
                display: flex;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: $dateColor;
                 
                }
            }
        }
    }
}




@media(max-width:786px){
.section4{
    .container{
        .row{
            .sectionInfo4{
                text-align: center;
             }
            .card{
                width: 343px;
                display: flex;
                gap: 16px;
                flex-direction: column;
               
                .exp-list{

                }
                .exp-content{
                    order: 3;
                    h5{
                    font-size: 18px;
                
                    }
                    }
                .exp-date{
                  
               order: 2;
                  }
            }
        }
    }
}
}