@use "../variables" as *;
@import "../mixins";

.section3{
   background-color: $sectionBg;
  
    .container{
      
      
        .row{
            flex-direction: column;
            align-items: center;
           .sectionBadge3{
        margin-bottom: 20px;
            @include badge();
            display: flex;
            justify-content: center;
            }
            .sectionInfo3{
                margin-bottom: 48px;
            }
          .skills-grid{
                display: grid;
                 grid-template-columns: repeat(8,1fr);
                 justify-items: center;
                 gap: 30px;
                .skill-item{
                text-align: center;
                }
            }
        }
    }
    
}


@media(max-width:768px){
    .section3{
    .container{
    .row{
           .sectionBadge3{
         margin-bottom: 20px;
            @include badge();
            display: flex;
            justify-content: center;
            }
            .sectionInfo3{
                margin-bottom: 16px;
                text-align: center;
            }
          .skills-grid{
                display: grid;
                 grid-template-columns: repeat(3,1fr);
                 justify-items: center;
                 gap: 30px;
                .skill-item{
                text-align: center;
                }
            }
        }
    }
    
}
}